<aside id="sidebar">
  <div class="d-flex">
    <button class="toggle-btn" type="button">
      <i class="lni lni-grid-alt"></i>
    </button>
    <div class="sidebar-logo">
      <a href="/admin/dashboard">Admin</a>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="/admin/dashboard" class="sidebar-link">
        <i class="lni lni-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/admin/product" class="sidebar-link">
        <i class="lni lni-t-shirt"></i>
        <span>Product</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/admin/customers" class="sidebar-link">
        <i class="lni lni-user"></i>
        <span>Customers</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a href="#" class="sidebar-link">
      <i class="lni lni-exit"></i>
      <span>Logout</span>
    </a>
  </div>
</aside>
